.App 
{
    text-align: center;
    /* background-color: #282c34; */
    background: rgb(9,55,134);
background: linear-gradient(135deg, rgba(9,55,134,1) 0%, rgba(12,3,94,1) 20%, rgba(0,0,0,1) 100%);
}

.App-header
{
    /* background-color: #171b23; */
    height: 10vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.App-header h1
{
    margin: 0;
    color:darkcyan;
}

.App-body 
{
    height: 85vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.App-footer 
{
    height: 5vh;
    /* background-color: #171b23; */
}

.App-right-panel
{
    height: 100%;
    max-height: 700px;
    flex-basis: 10%;
    margin-left: 10px;
    margin-right: 20px;
    overflow-y: auto;
}

.App-left-panel
{
    height: 100%;
    flex-basis: 30%;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.App-center-panel
{
    flex-basis: 40%;
    height: 100%;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center; 
}